<div class="col-md-10 col-md-offset-1 well">
  <legend><center><%= @page.name %></center></legend>
  <small>
    <em>
      <% unless @page.root? %>
        <%= t("page.label.parent_pages") %> 
        <% @page.ancestors.each do |parent| %>
        <%= link_to parent.name, [:admin, parent] %>
        <% end %>
      <% end %>
      <% if @page.has_children? %>
        <%= t("page.label.children_pages") %> 
        <% @page.ancestors.each do |parent| %>
        <%= link_to parent.name, [:admin, parent] %>
        <% end %>
      <% end %>
    </em>
  </small>
  <br/>  
  <%= simple_format @page.content %>
  <hr/>
  <%= link_to t("link.edit"), edit_admin_page_path(@page), class: "btn btn-primary" %>  
  <%= link_to t("link.delete"), admin_page_path(@page), data: {method: :delete, confirm: t("info.confirm_delete")} , class: "btn btn-danger" %>
</div>
