<tr>
  <td>
    <%= slider.id %>
  </td>
  <td>
    <%= (truncate slider.logo.url, length: 50) if slider.logo %>
  </td>
  <td><input type="checkbox" <%= slider.show ? "checked" : "" %> disabled></td>
  <td>
    <%= link_to t("link.detail"), admin_slider_path(slider) %>  
    | <%= link_to t("link.edit"), edit_admin_slider_path(slider) %>
    | <%= link_to t("link.delete"), admin_slider_path(slider), data: {method: :delete, confirm: t("info.confirm_delete")} %>
  </td>
</tr>
