<div class="col-md-10 col-md-offset-1 well">
  <div class="col-md-12 well">
    <%= image_tag @slider.logo.url, class: "img-responsive" %>
  </div>
  <input type="checkbox" <%= @slider.show ? "checked" : "" %> disabled>
  <%= Slider.human_attribute_name(:show) %>
  <br/>
  <%= link_to t("link.back"), admin_sliders_path, class: "btn btn-info" %>
  <%= link_to t("link.edit"), edit_admin_slider_path(@slider), class: "btn btn-primary" %>  
  <%= link_to t("link.delete"), admin_slider_path(@slider), data: {method: :delete, confirm: t("info.confirm_delete")} , class: "btn btn-danger" %>
</div>
