<div class="col-md-10 col-md-offset-1 well">
  <legend><center><%= @side_menu.title %></center></legend>  
  <div class="col-md-12 well">
    <center><%= image_tag @side_menu.image.url, class: "img-responsive" %></center>
  </div>  
  <hr/>
  <%= SideMenu.human_attribute_name(:link) %>: <%= @side_menu.link %>
  <br/>
  <input type="checkbox" <%= @side_menu.show ? "checked" : "" %> disabled><%= SideMenu.human_attribute_name(:show) %>  
  <br/>
  <%= link_to t("link.back"), admin_side_menus_path, class: "btn btn-info" %>
  <%= link_to t("link.edit"), edit_admin_side_menu_path(@side_menu), class: "btn btn-primary" %>  
  <%= link_to t("link.delete"), admin_side_menu_path(@side_menu), data: {method: :delete, confirm: t("info.confirm_delete")} , class: "btn btn-danger" %>
</div>
